.container {
  min-height: 1000px;
}

body {
  color: #113d46;
  font-family: Roboto, sans-serif;
  left: 0;
  line-height: 1.35;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: left 0.3s ease-in-out;
}
