.result {
  min-width: 18rem;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  overflow-y: auto;
  height: 500px;
  background-color: #eaeaea;
  border-radius: 15px;
}

.result-list {
  list-style: none;
}