.banner {
  left: 0;
  text-align: center;
  top: 0;
}
.banner h1 {
  color: rgb(94, 184, 195);
  font-size: 2.2rem;
  margin: 0 auto;
}
.banner h2 {
  color: #308e9a;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  width: 50%;
}